SECRET_KEY=your-secret-key-change-in-production
JWT_SECRET_KEY=your-jwt-secret-key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123
PRODUCTION=False
AUTO_CLEANUP_ENABLED=False
FILE_EXPIRE_DAYS=30
MAX_FILE_SIZE=104857600
